@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+SC&display=swap');


* {
  --text: rgb(19, 14, 1);
  --background: rgb(255, 250, 235);
  --primary: rgb(255, 132, 0);
  --secondary: rgb(255, 245, 214);
  --accent: rgb(207, 67, 7);
  margin: 0;
  font-family: 'Almendra SC', serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}