.Home-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: fit-content;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Title-container {
    font-size: 6rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
}
.Description-container{
    font-size: 1.5em;
}